.centre {
	padding: 5%;
}

/* Style des paragraphes */
.texte {
	font-family: Tahoma, Geneva, sans-serif;
	padding-bottom: 30px;
	padding-top: -15px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 1.3em;
}

.sante {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-style: italic;
	line-height: 0.9;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.choix {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.2em;
	cursor: pointer;
	padding-left: 35px;
	padding-right: 35px;
}

.choix:before{
	content: "\00a0\00a0\00a0";
}

.choix:hover {
	text-decoration: underline;
	/* font-weight: bold; */
}

.choix:hover:before {
	content: "> ";
}

.contenu {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
}

.invisible {
	display: none;
}

.visible {
}

hr {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* A priori, ça ne devrait pas fonctionner, mais en fait si pour le moment ! */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
